{% assign current_locale = page.locale | default: site.locale %}
{% assign text = site.data.sitetext[current_locale] %}
{% assign legal_url = site.baseurl | append: "/en/legal" %}
{% if current_locale contains "fr" %}
  {% assign legal_url = site.baseurl | append: "/fr/legal" %}
{% endif %}

<footer class="footer" id="footer" style="background-color: white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="{{ legal_url }}">{{ text.footer.legal | default: "Privacy Policy" }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% if page.layout == "page" %}
<script>
  fixPageShort();
  function fixPageShort() {
    if (window.innerHeight > document.body.offsetHeight) {
      document.getElementById("footer").style.position = "fixed";
      document.getElementById("footer").style.bottom = 0;
      document.getElementById("footer").style.right = 0;
      document.getElementById("footer").style.left = 0;
      document.getElementById("footer").style.width = "100%";
    }
  }
</script>
{% endif %}
