{% assign current_locale = page.locale | default: site.locale %}
{% assign text = site.data.sitetext[current_locale] %}

<section class="bg-light page-section" id="{{ text.portfolio.section | default: 'portfolio' }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ text.portfolio.title | markdownify | default: "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{ text.portfolio.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
      {% for project in site.portfolio %}
      {% assign caption_title = project.caption.title %}
      {% assign caption_subtitle = project.caption.subtitle %}
      {% assign caption_alt = project.alt | default: caption_title %}
      {% if current_locale contains "fr" and project.fr_caption %}
        {% assign caption_title = project.fr_caption.title %}
        {% assign caption_subtitle = project.fr_caption.subtitle %}
        {% assign caption_alt = project.fr_alt | default: caption_title %}
      {% endif %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.portfolio-icon | default: 'fas fa-plus fa-3x' }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail | relative_url }}" alt="{{ caption_alt | escape }}">
        </a>
        <div class="portfolio-caption">
          <h4>{{ caption_title }}</h4>
          <p class="text-muted">{{ caption_subtitle }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include modals.html %}
